@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@200;600&family=Poppins:ital,wght@0,500;1,300&family=Red+Rose:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* ---------------------------
---------NAVBAR-----------
-------------------------- */

#check , .menu-bar {
    display: none;
}

.menu-bar {
    position: absolute;
    line-height: 100px;
    right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.nav-left {
    display: flex;
    line-height: 100px;
    margin-left: 40px;
    font-size: 30px;
}

li {
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}

.nav-right {
    display: flex;
    line-height: 100px;
}

.contact {
    display: flex;
    margin-right: 40px;
    font-size: 15px;
}

.block {
    display: flex;
}

.big-line {
    position: absolute;
    top: 100px;
    right: 40px;
    background-color: white;
    height: 2px;
    width: 850px;
}

/* --------------------------
--------- HERO SECTION -----------
-------------------------- */

.left-content {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 150px;
    width: 50%;
    float: left;
    gap: 80px;
}

.left-content h1{
    font-size: 9vmin;
}

a.learn-more{
    text-decoration: none;
    padding: 10px 25px;
    font-size: 25px;
    border-radius: 50px;
    border: 2px solid white;
}

/* ---------------------------
--------- CARDS -----------
-------------------------- */

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 50px;
}

.card-1 {
    background: rgb(48,69,86);
    margin-top: 100px;
    width: 18rem;
    height: 9rem;
    margin-left: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.card-2 {
    margin-top: 150px;
    background: rgb(48,69,86);
    width: 18rem;
    height: 9rem;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: -50px;
}

.fa-puzzle-piece, .fa-lightbulb {
    color: black;
    background-color: #fff;
    padding: 9px 35px;
    font-size: 30px;
    border-radius: 40px;
    margin-bottom: 8px;
}

/* ---------------------------
--------- CREATING A BLOB -----------
-------------------------- */

.line1{
    width: 2px;
    height: 80px;
    background-color: #fff;
}

.circle1{
    width:20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
}

.lines1{
    position: absolute;
    top: 46%;
    right: 16%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.line2{
    width: 100px;
    height: 2px;
    background-color: #fff;
}

.circle2{
    width:20px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    position: absolute;
}

.lines2{
    position: absolute;
    top: 84%;
    right: 23%;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ---------------------------
--------- MOBILE VIEW -----------
-------------------------- */

@media only screen and (max-width:1160px) {

    .blob {
        display: none;
    }
    
    li, .contact{
        font-size: 15px;
    }

    .logo {
        font-size: 20px;
    }

}

@media only screen and (max-width:960px) {
    
    .blob {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .mobile-menu {
        left: 0;
    }

    .contact {
        display: none;
    }

    li {
        width: 100%;
        display: block;
    }

    li:hover{
        background-color: #000;
        color: yellow;
    }

    body {
        background-image: none;
        background-color: #000;
    }

    .left-content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-content h1{
        width: 100%;
        margin-top: -100px;
        font-size: 5vmin;
        text-align: center;
        margin-bottom: -60px;
        padding: 0 5rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    a.learn-more{
        padding: 10px 25px;
        font-size: 10px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
    
    .card {
        margin-bottom: 50px;
    }
    
    .card-1 {
        margin:  30px auto;
        margin-bottom: 9px;
    }
    
    .card-2 {
        margin:  1px auto;
    }

    .fa-puzzle-piece, .fa-lightbulb {
        padding: 5px 20px;
        font-size: 20px;
    }

}

